# Intellij
.idea/
*.egg-info

# Python binary files
*.pyc
__pycache__

# Wheel builds
dist/
build/
.eggs

# Tox
/.tox

# Hypothesis
.hypothesis

# Cache
.cache
.pytest_cache/

# Tests
test_layer*
test_consumer*

.python-version

# Vscode
.vscode

# pytest-cov code coverage
.coverage
.coverage.**
